body{font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";}
a{
    text-decoration: none;
    font-weight: 600;
}
h1{color: #00820E;}
h2{color: #00820E;}
.wrapper{width: 80%; margin: 0 10%;}
.author{text-align: right; font-weight: 300; padding-right: 30%;}
.notice{color: orange; font-weight: 500; font-size: larger;}
.noticeb{color: darkgoldenrod;font-weight: 300; font-size: smaller;}